################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/fiz-buzz/bin
/fiz-buzz/obj
/fiz-buzz-tests/bin
/fiz-buzz-tests/obj
.vs/